[Unit]
Description=Training supervisor
After=network-online.target
 
[Service]
Type=simple

ExecStart=/usr/local/bin/ttyd -p 4563 -c user:password /snap/bin/tmux new -A -s /usr/local/bin/ttyd login
Restart=always
 
[Install]
WantedBy=multi-user.target